.ReadyToJoinSection {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 4.875rem 4.875rem 4.875rem 3.81rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  align-items: flex-start;
  transition: 0.4s ease all;
  overflow: hidden;
  position: relative;
}
.TextContainer {
  width: 60%;
  transition: 0.4s ease all;
}
.Image {
  width: 35%;
  transition: 0.4s ease all;
  margin-top: 5%;
}
.Header {
  font-size: 3rem;
  margin: 0;
}
.Text {
  font-size: 1rem;
  margin: 2rem 0;
}
.Logo {
  position: absolute;
  right: 15%;
  transition: 0.4s ease all;
}
.DownloadContainerMobile {
  display: none;
}
@media screen and (max-width: 1030px) {
  .ReadyToJoinSection {
    padding: 2.8rem 2.8rem 2rem 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .ReadyToJoinSection {
    padding: 2rem 2rem 1.5rem 1.8rem;
  }
  .Header {
    font-size: 1.5rem;
  }
  .Text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .ReadyToJoinSection {
    padding: 1.5rem 1.5rem 1rem 1.2rem;
    flex-direction: column;
    align-items: center;
    background-color: #2356e7 !important;
  }
  .ReadyToJoinSection > * {
    width: 100%;
  }
  .ButtonContainer {
    display: flex;
    justify-content: center;
  }
  .Image {
    width: 100%;
    margin-left: -25%;
    margin-bottom: -20%;
    margin-top: 10%;
  }
  .Header,
  .Text {
    text-align: center;
  }
  .Text {
    line-height: 1.5rem;
  }
  .DownloadContainer {
    display: none;
  }
  .DownloadContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .TextContainer {
    color: white !important;
  }
}
