.Thumbnail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ThumbnailItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1.4rem 2.8rem;
  border-radius: 1rem;
  width: 49%;
  margin-bottom: 1rem;
}
.Title {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
}
.Text {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin: auto;
}
.Image {
  width: 50%;
  margin-top: 1.5rem;
}
.ButtonContainer {
  align-self: flex-start;
  margin-left: 10%;
}
@media screen and (max-width: 1030px) {
  .Title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 800px) {
  .Title {
    font-size: 1.5rem;
  }
  .Text {
    font-size: 0.9rem;
  }
  .ButtonContainer {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .Thumbnail {
    flex-direction: column;
  }
  .ThumbnailItem {
    width: 100%;
  }
}
