.CreateAccount {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 3rem 5rem 0 4.2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  transition: 0.3s ease all;
  overflow-y: hidden;
}
.TextContainer {
  width: 62%;
  align-self: center;
}
.Header {
  font-size: 36px;
  font-weight: 800;
  line-height: 36.4px;
  margin: 0;
  transition: 0.3s ease all;
}
.Text {
  font-size: 24px;
  width: 67%;
  transition: 0.3s ease all;
  line-height: 38.42px;
  font-weight: 400;
}
.ImageContainer {
  width: 25%;
  transition: 0.3s ease all;
}
.GetStartedImage {
  width: 100%;
  transition: 0.3s ease all;
}
.ButtonContainerMobile {
  display: none;
}
@media screen and (max-width: 1030px) {
  .Text {
    font-size: 1.3rem;
  }
  .ImageContainer {
    width: 30%;
  }
}
@media screen and (max-width: 1030px) {
  .Text {
    font-size: 1rem;
    width: 90%;
  }
  .ImageContainer {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .CreateAccount {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 0 10px;
    background-color: rgba(35, 86, 231, 0.1) !important;
  }
  .CreateAccount > div {
    width: 100%;
  }
  .TextContainer {
    margin-bottom: 0rem;
  }
  .ImageContainer {
    padding: 0 5rem 0px;
    /* background-color: rgba(35, 86, 231, 0.1); */
    /* margin-bottom: 1.5rem; */
  }
  .Header {
    font-size: 1.5rem;
    text-align: center;
  }
  .Text {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 160.1%;
    text-align: center;
    color: #000000;
  }
  .ButtonContainer {
    display: flex;
    justify-content: center;
    display: none;
  }
  .ButtonContainerMobile {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
  }
  .GetStartedImage {
    margin-bottom: -10px;
  }
}
