@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/Helvetica.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/Gilroy-Bold.otf");
  font-weight: 600;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue";
}
@media screen and (min-width: 2500px) {
  body {
    width: 1440px;
    margin: auto;
  }
}
