.Banner {
  background-image: url("/images/background.png");
  width: 100%;
  height: fit-content;
  position: relative;
  background-position: -10vw 0vh;
  background-size: 110vw 80vh;
  background-repeat: no-repeat;
  /* margin-top: -10vh; */
  display: flex;
  justify-content: space-between;
  padding-top: 10vh;
  margin-bottom: -4vh;
}
.PhoneBanner {
  transition: 0.4s ease all;
}
.LeftCoins,
.RightCoins {
  width: 25%;
  height: 40vh;
}
.BannerImage {
  width: 100%;
  margin-top: 10rem;
  left: 0;
  z-index: 1;
  transition: 0.4s ease all;
}
.BackgroundImage {
  width: 150%;
  z-index: -10;
  position: absolute;
  top: -20vh;
  left: -30%;
  margin: auto;
}
.IntroText {
  width: 45%;
  margin: auto;
}
.Header {
  text-align: center;
  font-size: 3rem;
}
.BlueText {
  color: #2356e7;
}
.YellowText {
  color: #fbc505;
}
.SubHeader {
  font-size: 1rem;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
}
.DownloadButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.GetStarted {
  text-align: center;
  color: #717171;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
.SendingText {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1030px) {
  .LeftCoins,
  .RightCoins {
    width: 20%;
    height: 25vh;
  }
  .PhoneBanner {
    width: 50%;
  }
  .IntroText {
    width: 70%;
  }
  .Header {
    width: 100%;
  }
  .DownloadButtons {
    margin-bottom: 4rem;
  }
  .GetStarted {
    font-size: 1.5rem;
  }
  .SendingText {
    width: 70%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .BannerImage {
    margin-top: 5rem;
  }
  .IntroText {
    width: 50%;
  }
  .Header {
    font-size: 2rem;
  }
  .SubHeader {
    margin-top: -1rem;
  }
  .SendingText {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .Banner {
    align-items: flex-start;
  }
  .LeftCoins,
  .RightCoins {
    height: 100%;
  }
  .PhoneBanner {
    width: 40%;
  }
  .BannerImage {
    margin-top: 1rem;
  }
  .IntroText {
    width: 80%;
  }
  .Header {
    font-size: 1.6rem;
  }
  .SubHeader {
    width: 100%;
  }
  .GetStarted {
    font-size: 1.2rem;
  }
  .SendingText {
    width: 100%;
    font-size: 1.4rem;
  }
}
