.HeroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HeroSection > div {
  /* width: 50%; */
  /* height: 500px; */
  /* background-position: 60%; */
  background-repeat: no-repeat;
}
.HeroLeft {
  background-image: url("/images/blue-mesh.png");
  background-position: left;
  background-size: 100% 100%;
  padding-left: 10%;
  width: 40%;
}
.HeroRight {
  background-image: url("/images/yellow-mesh.png");
  background-position-x: 0.8vw;
  background-position-y: 0vh;
  background-size: 130% 120%;
  padding-right: 10%;
  width: 60%;
}
.HeroImage {
  width: 100%;
  padding-top: 60px;
}
.Banner {
  background-image: url("/images/background.png");
  width: 100%;
  height: fit-content;
  position: relative;
  background-position: -10vw 0vh;
  background-size: 110vw 80vh;
  background-repeat: no-repeat;
  /* margin-top: -10vh; */
  display: flex;
  justify-content: space-between;
  padding: 0 12.5%;
  padding-top: 5vh;
  margin-bottom: -4vh;
  position: relative;
  /* padding-bottom: 12vh; */
}
.PhoneBanner {
  transition: 0.4s ease all;
  width: 30%;
  margin-top: 5%;
}
.LeftCoins,
.RightCoins {
  width: 25%;
  /* height: 40vh; */
}
.RightCoins {
  /* width: 30%; */
  /* position: relative; */
  margin-bottom: -13%;
}
.BannerImage {
  width: 100%;
  margin-top: 10rem;
  left: 0;
  z-index: 1;
  transition: 0.4s ease all;
}
.BackgroundImage {
  width: 150%;
  z-index: -10;
  position: absolute;
  top: -20vh;
  left: -30%;
  margin: auto;
}
.IntroText {
  width: 100%;
  /* margin: auto; */
  text-align: left;
}
.Header {
  font-size: 48px;
  font-weight: bolder;
  line-height: 62.93px;
  font-family: "Helvetica Neue";
}
.BlueText {
  color: #2356e7;
}
.YellowText {
  color: #fbc505;
}
.SubHeader {
  /* font-family: "Inter"; */
  font-size: 18px;
  /* text-align: center;s */
  /* width: 70%; */
  margin: auto;
  margin-top: -2.5rem;
  margin-bottom: 22px;
  line-height: 27.29px;
  font-weight: 600;
}
.DownloadButtons {
  display: flex;
  justify-content: center;
  /* margin-bottom: 5rem; */
  width: 70%;
}
.DownloadText {
  font-weight: 400;
  font-size: 18px;
  line-height: 151.6%;
  margin-bottom: 6px;
}
.AppleButton {
  margin-right: 20px;
}
.GetStarted {
  text-align: center;
  color: #717171;
  font-size: 36px;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 36.4px;
  margin-top: 75px;
}
.Why {
  text-align: center;
  color: #717171;
  font-size: 30px;
  line-height: 30.33px;
  margin-bottom: 1.5rem;
  margin-top: 140px;
}
.SendingText {
  font-size: 48px;
  line-height: 48.53px;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.SendingText2 {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 140px;
}
.SendingText3 {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}
.ScrollContainer {
  display: none;
}
.ReadyToJoinMobile {
  display: none;
}
@media screen and (max-width: 1030px) {
  .LeftCoins,
  .RightCoins {
    width: 20%;
    height: 25vh;
  }
  .PhoneBanner {
    width: 50%;
  }
  .IntroText {
    width: 70%;
  }
  .Header {
    width: 80%;
    font-size: 35px;
    line-height: 110%;
  }
  .DownloadButtons {
    margin-bottom: 4rem;
  }
  .GetStarted {
    font-size: 1.5rem;
  }
  .SendingText {
    width: 70%;
    font-size: 2rem;
  }
}
.ThumbnailContainerMobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .HeroSection {
    align-items: flex-end;
  }
  .HeroLeft {
    padding-left: 5%;
  }
  .HeroRight {
    padding-right: 1%;
  }
  .BannerImage {
    margin-top: 5rem;
  }
  .IntroText {
    width: 50%;
  }
  .Header {
    font-size: 2rem;
    margin-top: 0;
  }
  .SubHeader {
    margin-top: -1rem;
  }
  .SendingText {
    font-size: 1.6rem;
  }
  .IntroText {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .HeroSection {
    flex-direction: column-reverse;
  }
  .HeroSection > div {
    width: 100%;
  }
  .HeroLeft {
    background-image: none;
    padding: 0 5%;
    margin-top: -1rem;
    z-index: 1;
  }
  .HeroRight {
    background-image: url("/images/background-mobile.png");
    background-size: 100%;
    /* padding: 0;
    display: flex;
    justify-content: center; */
  }
  .HeroImage {
    padding-top: 0;
    width: 95%;
  }
  .Banner {
    /* align-items: center; */
    /* background-color: red; */
    /* height: fit-content !important; */
    padding: 0 5%;
    background-position: center;
    background-size: 90% 90%;
    margin-bottom: 0rem;
    /* margin-top: 3rem; */
    background-image: url("/images/background-mobile.png");
  }
  .LeftCoins,
  .RightCoins {
    height: 100%;
    margin-top: 2%;
  }
  .RightCoins {
    margin-top: 15%;
  }
  .PhoneBanner {
    width: 40%;
  }
  .IntroText {
    width: 100%;
  }
  .Header {
    font-size: 34.86px;
    width: 100%;
    text-align: center;
  }
  .SubHeader {
    width: 100%;
    font-weight: 600;
    font-size: 11.93px;
    line-height: 151.6%;
    text-align: center;
  }
  .GetStarted {
    font-size: 1.2rem;
    margin-top: 100.5px;
  }
  .Why {
    font-size: 20px;
    /* margin-top: 100.5px; */
    line-height: 20.22px;
    margin: 0;
  }
  .SendingText {
    width: 100%;
    font-size: 26.82px;
    font-weight: 700;
  }
  .SendingText2 {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 0rem;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 26.82px;
  }
  .LeftCoins,
  .RightCoins {
    width: 15%;
  }
  .PhoneBanner {
    /* background-color: red; */
    width: 70%;
    /* margin-left: -7.5%; */
    align-self: flex-end;
    height: 100%;
    margin-top: -10%;
    margin-bottom: 5%;
  }
  .DownloadText {
    font-weight: 600;
    font-size: 11.9279px;
    line-height: 151.6%;
    text-align: center;
    margin-top: 0;
  }
  /* .GetStarted {
    display: none;
  } */
  .ThumbnailContainerMobile {
    display: block;
  }
  .ReadyToJoinContainer {
    display: none;
  }
  .ReadyToJoinMobile {
    display: block;
  }
  .ThumbnailContainer {
    display: none;
  }
  .ScrollContainer {
    display: flex;
    justify-content: center;
  }
  .DownloadButtons {
    margin: auto;
    margin-bottom: 2rem;
  }
}
